<form action="#" class="form-horizontal">
    <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label">{{scegliTraccia}} <a href="https://soundcloud.com/explore" target="_blank">soundcloud</a> {{menuCondivisione}}</label>
            <div class="input-append">
                <img src="img/tutorial1.jpg" alt="click share and then embed" />
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label">{{share}}</label>
            <div class="input-append">
                <input class="form-control" id="inpURL" placeholder="{{incollaQui}}" type="text">
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label class="control-label">{{anteprima}}</label>
            <div class="input-append">
                <div id='preview'></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-right">
        <button id="insert" class="btn btn-primary insert">{{inserisci}}</button>
        <button id="cancel" class="btn btn-default insert">{{chiudi}}</button>
    </div>
</form>